
@font-face {
    font-family: 'Kavoon';
    src: url("../fonts/Kavoon/Kavoon-Regular.ttf") format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

li{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
    font-size: 24px;
    
}
body{
    background-color: #DDF2F2;
    font-family: 'Kavoon', sans-serif;
}

/*-------header-------*/

header{
    width: 90%;
    margin: 3% 5%;
}

header nav ul{
    display: flex;
    justify-content: space-around;
}

header nav li ul{
    display: none;
}

header nav ul li a:hover{
    color: #187bec;
}

header nav ul li input{
    padding: 5px;
    border-radius: 10px;
}
header nav ul li i{
    position: absolute;
    top: 45px;  
    right: 355px;
}

#bottom{
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.0em;
}

body form br{
    padding: 20px;
}

/*-------fooder-------*/

footer{
    background-color: rgba(37, 0, 245, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.224);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top:  50px;
}

footer section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer section div *{
    margin-top: 7px;
}

footer #credito{
    border-top: 1px solid rgba(0, 0, 0, 0.224);
}

footer #redes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*=========================== Cadastrar ===========================*/

section form, section form div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    font-weight: bolder;
    font-size: 15px;

}
section form div{
    align-items: center;
}
#linguagem{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 15px;
    margin-top: 7px;
}
#pessoal{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 5px;
}
section form{
    border: 1px solid rgba(0, 0, 0, 0.224);
    border-radius: 30px;
    gap: 15px;
    background-color: rgba(127, 255, 212, 0.426);
}
section input{
    padding: 5px;
    border-radius: 10px;
}
section form label *{
    color: black;
}
#submit-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
    background-color: #007bff8c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

#submit-btn:hover {
    background-color: #00b318;
}